.git/
Analysis/
Distribution/
Hardware/S80Z*Ver*1_0
Software/Basic/
Software/Fp32/

*.bak
*.bck
*.kicad_pcb-bak

*.bin
*.def
*.err
*.hex
*.ihx
*.lis
*.map
*.net
*.o
*.S80
*.sym
*.txt
*.pnproj
*.pnps
*.ppg
*.xml
