.git/
Analysis/
Hardware/S80*Ver*1_0*(Closed)/Gerbers
Hardware/S80*Ver*1_0*(Closed)/Pcb
Hardware/S80Z*Ver*1_0/Gerbers
Hardware/S80Z*Ver*1_0/Pcb
Distribution/
Software/Basic/
Software/Fp32/

*.bak
*.bin
*.def
*.err
*.hex
*.ihx
*.lis
*.map
*.net
*.o
*.S80
*.sym
*.txt
*.pnproj
*.pnps
*.ppg
*.xml
